.v-input {
    margin-bottom: 10px !important;

    &__icon {
        .v-icon {
            color: $white-67 !important;
        }
    }

    fieldset {
        border-color: $primary !important;
        background-color: $bg-focus !important;
    }

    &.success--text {
        fieldset {
            border-color: $success !important;
            background-color: $bg-success !important;
        }
    }

    &.error--text {
        fieldset {
            border-color: $danger !important;
            background-color: $bg-danger !important;
        }
    }
}
