$primary: #61DAFB;
$success: #18AA13;
$danger: #E80C0C;
$warning: #E57E09;

$github-theme: #121212;
$gitlab-theme: #E57E09;
$bitbucket-theme: #2868FE;

$bg--dark: #121212;
$bg--regular: #1F1F1F;
$bg--light: #282828;


$bg-focus: transparentize(#61DAFB, 0.85);
$bg-danger: transparentize(#8F1919, 0.85);
$bg-success: transparentize(#18AA13, 0.85);

$black: #000000;
$gray--dark: #707070;
$gray: #9F9F9F;
$gray--light: #C9C9C9;
$white: #FFFFFF;

$green--dark: #187015;
$green: #69C766;
$green--light: #C1FFBF;
